<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnError="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Validator (standalone)">
            <file>Test/PhoneValidatorTest.php</file>
        </testsuite>
        <testsuite name="Widget (requires FacturaScripts)">
            <file>Test/WidgetPhoneTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
